# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

env.sh
**/env.sh
**/template/*.yaml
.idea/
02_Default_Environment/result.json
02_Default_Environment/02_create_eks/template/eksctl.yamlcl
05_Workload_Access_2/pod-identity-deployment.yaml
05_Workload_Access_2/pod-identity-trust-relationship.json
05_Workload_Access_2/pod-identity-workload-policy.json
06_EKS_Cluster_Addon_Irsa/local_env.sh
06_EKS_Cluster_Addon_Irsa/aws-ebs-csi-driver-trust-policy.json
02_Default_Environment/local_env.sh
08_Computing_1/deployment.yaml
08_Computing_1/local_env.sh
08_Computing_1/result.json
**/tmp/*
01_Container/result.json
07_Network/result.json
vpc_env.sh
02_Default_Environment/01_create_vpc/result.json
02_Default_Environment/local_env.sh.sample
05_Workload_Access_2/eks-edu-pod-identity-service-account.yaml
05_Workload_Access_2/eks-edu-service-account.yaml
05_Workload_Access_2/my-deployment.yaml
05_Workload_Access_2/trust-relationship.json
05_Workload_Access_2/workload-policy.json
06_EKS_Cluster_Addon_Irsa/aws-efs-csi-driver-trust-policy.json
06_EKS_Cluster_Addon_Irsa/local_env.sh.sample
06_EKS_Cluster_Addon_PodIdentity/aws-ebs-csi-driver-pod-identity-trust-policy.json
06_EKS_Cluster_Addon_PodIdentity/aws-ebs-csi-driver-trust-policy.json
06_EKS_Cluster_Addon_PodIdentity/aws-efs-csi-driver-pod-identity-trust-policy.json
06_EKS_Cluster_Addon_PodIdentity/aws-efs-csi-driver-trust-policy.json
06_EKS_Cluster_Addon_PodIdentity/local_env.sh
06_EKS_Cluster_Addon_PodIdentity/local_env.sh.sample
07_Network/local_env.sh
07_Network/configuration-values.json
07_Network/vpc-cni-trust-relationship.json
11_Storage_Management/01_dynamic_create_storageclass/local_env.sh
03_Default_Environment/01_create_vpc/result.json
12_Storage_Management/delete_env.sh
01_Container/01_create_vscode_server.sh
01_Container/02_get_output.sh
01_Container/03_get_password.sh
01_Container/99_delete_vscode_server.sh
06_Workload_Access_2/01_app_irsa/local_env.sh
05_Manage_Access_1/image/.$clusterrole_drawio.drawio.bkp
05_Manage_Access_1/image/.$clusterrole_drawio.png.bkp
05_Manage_Access_1/image/clusterrole_drawio.drawio
