#!/bin/bash

# Profile 정보 없는 경우 주석처리
export AWS_PROFILE=<profile명>
# Region 정보 없으면 vscode server에서 세팅되는 환경변수를 인식
export AWS_REGION=<AWS Region>
export IDE_NAME=<사번>
export AWS_REPO_ACCOUNT=<AWS Account ID>

export HOME_DIR=<이 프로젝트 위치>
export EKS_VERSION=<EKS 버전>
# =============================================================
# 자동 생성
export CLUSTER_NAME=eks-edu-cluster-${IDE_NAME}

export PROFILE_STRING=""
if [ -n "$PROFILE_NAME" ]; then
    export PROFILE_STRING="--profile ${PROFILE_NAME}"
fi