#!/bin/bash

export AWS_REGION=<AWS Region>
export EMPLOY_ID=<사번>
export AWS_REPO_ACCOUNT=<AWS Account ID>
# Profile 정보 없는 경우 주석처리
export AWS_PROFILE=<profile명>
export HOME_DIR=<이 프로젝트 위치>
export EKS_VERSION=<EKS 버전>
# =============================================================
# 자동 생성
export CLUSTER_NAME=eks-edu-cluster-${EMPLOY_ID}

export PROFILE_STRING=""
if [ -n "$PROFILE_NAME" ]; then
    export PROFILE_STRING="--profile ${PROFILE_NAME}"
fi