#!/bin/bash

# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="VpcId") | .OutputValue'
VPC_ID=<vpc id>
# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="PrivateSubnet01AZ") | .OutputValue'
AWS_AZ1=
# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="PrivateSubnet02AZ") | .OutputValue'
AWS_AZ2=
# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="PrivateSubnet01") | .OutputValue'
AWS_PRIVATE_SUBNET1=
# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="PrivateSubnet01AZ") | .OutputValue'
AWS_PRIVATE_SUBNET2=
##############################