#!/bin/bash

# sh 02_get_output.sh | jq -r '.[] | select(.OutputKey=="VpcId") | .OutputValue'
export VPC_ID=
# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="PrivateSubnet01AZ") | .OutputValue'
export AWS_AZ1=
# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="PrivateSubnet02AZ") | .OutputValue'
export AWS_AZ2=
# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="PrivateSubnet01") | .OutputValue'
export AWS_PRIVATE_SUBNET1=
# sh ../01_Container/02_get_output.sh | jq -r '.[] | select(.OutputKey=="PrivateSubnet01AZ") | .OutputValue'
export AWS_PRIVATE_SUBNET2=
# sh 02_get_output.sh | jq -r '.[] | select(.OutputKey=="SecurityGroups") | .OutputValue'
export EKS_ADDITIONAL_SG=
##############################